body {
  background-color: pink;
}
/* 700px 이상 적용 */
@media screen and (min-width: 700px) {
  body {
    background-color: skyblue;
  }
}
@media screen and (min-width: 1400px) {
  body {
    background-color: navy;
  }
}
