.border {
  width: 400px;
  height: 450px;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}
#border1 {
  top: 50px;
  left: 40%;
  position: absolute;
}
img {
  position: absolute;
  top: 20px;
  left: 100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.hub {
  width: 100px;
  height: 50px;
  border: 1px solid;
  margin: 10px;
  display: block;
}
.bao {
  position: absolute;
  top: 225px;
  left: 75px;
}
