body {
  background: linear-gradient(blue, black);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: white;
  width: 7px;
  height: 40px;
  border-radius: 20%;
}
.square {
}
